


body {

}
.navbar-inverse {
  background-color: black;
}

ul.navbar-nav {
  float: right;
  margin-right: 398px;
}

.navbar-inverse .navbar-nav > .active > a, {
  color: #afafaf;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.register-container {
  background-color: red;
}

.above-the-fold {
  height: 855px;
  background-color: #1d2734;
  .col-md-4 {
    padding: 0px;
    .logo-container {
      margin-top: 106px;
    }
  }
  .col-md-5 {
    padding: 0px;
    .drupalcamp-title {
      margin-top: 145px;
      line-height: 90px;
    }
    span {
      font-size: 100px;
      font-family: "chinese rocks";
    }
    span.cebu {
      font-size: 263px;
      line-height: 162px;
    }
  }
  .col-md-3 {
    padding: 0px;
    background: url('../images/underscore-img.png');
    background-repeat: repeat-x;
    height: 383px;
    margin-top: 151px;
    .venue-container {
      margin-top: 24px;
      span {
        font-family: "chinese rocks";
      }
      span.date {
        font-size: 39px;
      }
      span.uni {
        font-size: 57px;
        line-height: 50px;
      }
      span.uni-name {
        font-size: 67px;
        line-height: 63px;
      }
      span.cebucity {
        font-size: 81px;
        line-height: 67px;
      }
    }
  }
}

.drupalcamp-description {
  h6 {
    color: #e3e3e3;
    font-family: "SourceSansPro";
    font-size: 20px;
    text-align: center;
  }
}

ul.menu {
  margin-top: 94px;
  text-align: center;
  li {
    display: inline;
    a {
      color: white;
      text-decoration: none;
      font-family: "chinese rocks";
      font-size: 24px;
      padding: 25px;
    }
    .register {
      background-color: #ca1e1e;
    }
  }
}

.camp-speakers {
  background-color: #f1c419;
  h3 {
    font-family: "chinese rocks";
    font-size: 72px;
    text-align: center;
    color: white;
  }
  h6 {
    font-family: "SourceSansPro";
    font-size: 22px;
    text-align: center;
  }
  p {
    font-family: "SourceSansPro";
    font-size: 24px;
    text-align: center;
  }
}



