body {

}
.navbar-inverse {
  background-color: black;
}

ul.navbar-nav {
  float: right;
  margin-right: 398px;
}

.navbar-inverse .navbar-nav > .active > a, {
  color: #afafaf;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.register-container {
  background-color: red;
}