@font-face {
  font-family: "chinese rocks";
  src: url('/public/fonts/chinese_rocks/chinese_rocks.woff?1409440130') format('woff'), url('/public/fonts/chinese_rocks/chinese_rocks.ttf?1409440130') format('truetype'), url('/public/fonts/chinese_rocks/chinese_rocks.svg?1409440130') format('svg');
}
/* line 8, ../sass/style.scss */
.navbar-inverse {
  background-color: black;
}

/* line 12, ../sass/style.scss */
ul.navbar-nav {
  float: right;
  margin-right: 398px;
}

/* line 17, ../sass/style.scss */
.navbar-inverse .navbar-nav > .active > a {
  color: #afafaf;
}

/* line 21, ../sass/style.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

/* line 25, ../sass/style.scss */
.register-container {
  background-color: red;
}

/* line 29, ../sass/style.scss */
.above-the-fold {
  height: 855px;
  background-color: #1d2734;
}
/* line 32, ../sass/style.scss */
.above-the-fold .col-md-4 {
  padding: 0px;
}
/* line 34, ../sass/style.scss */
.above-the-fold .col-md-4 .logo-container {
  margin-top: 106px;
}
/* line 38, ../sass/style.scss */
.above-the-fold .col-md-5 {
  padding: 0px;
}
/* line 40, ../sass/style.scss */
.above-the-fold .col-md-5 .drupalcamp-title {
  margin-top: 145px;
  line-height: 90px;
}
/* line 44, ../sass/style.scss */
.above-the-fold .col-md-5 span {
  font-size: 100px;
  font-family: "chinese rocks";
}
/* line 48, ../sass/style.scss */
.above-the-fold .col-md-5 span.cebu {
  font-size: 263px;
  line-height: 162px;
}
/* line 53, ../sass/style.scss */
.above-the-fold .col-md-3 {
  padding: 0px;
  background: url("../images/underscore-img.png");
  background-repeat: repeat-x;
  height: 383px;
  margin-top: 151px;
}
/* line 59, ../sass/style.scss */
.above-the-fold .col-md-3 .venue-container {
  margin-top: 24px;
}
/* line 61, ../sass/style.scss */
.above-the-fold .col-md-3 .venue-container span {
  font-family: "chinese rocks";
}
/* line 64, ../sass/style.scss */
.above-the-fold .col-md-3 .venue-container span.date {
  font-size: 38px;
}
/* line 67, ../sass/style.scss */
.above-the-fold .col-md-3 .venue-container span.uni {
  font-size: 55px;
  line-height: 50px;
}
/* line 71, ../sass/style.scss */
.above-the-fold .col-md-3 .venue-container span.uni-name {
  font-size: 66px;
  line-height: 63px;
}
/* line 75, ../sass/style.scss */
.above-the-fold .col-md-3 .venue-container span.cebucity {
  font-size: 80px;
  line-height: 67px;
}

/* line 84, ../sass/style.scss */
.drupalcamp-description h6 {
  color: #e3e3e3;
  font-family: "SourceSansPro";
  font-size: 20px;
  text-align: center;
}

/* line 92, ../sass/style.scss */
ul.menu {
  margin-top: 94px;
  text-align: center;
}
/* line 95, ../sass/style.scss */
ul.menu li {
  display: inline;
}
/* line 97, ../sass/style.scss */
ul.menu li a {
  color: white;
  text-decoration: none;
  font-family: "chinese rocks";
  font-size: 24px;
  padding: 25px;
}
/* line 104, ../sass/style.scss */
ul.menu li .register {
  background-color: #ca1e1e;
}

/* line 110, ../sass/style.scss */
.camp-speakers {
  background-color: #f1c419;
}
/* line 112, ../sass/style.scss */
.camp-speakers h3.speaker-title {
  font-family: "chinese rocks";
  font-size: 72px;
  text-align: center;
  color: white;
  margin-top: 90px;
}
/* line 119, ../sass/style.scss */
.camp-speakers h6.speaker-description {
  font-family: "SourceSansPro";
  font-size: 22px;
  text-align: center;
}
/* line 124, ../sass/style.scss */
.camp-speakers p.speaker-announcement {
  font-family: "SourceSansPro";
  font-size: 24px;
  text-align: center;
}

/* line 132, ../sass/style.scss */
.speaker-info img {
  text-align: center;
}
/* line 135, ../sass/style.scss */
.speaker-info p.speaker-name {
  font-family: "SourceSansPro";
  font-size: 24px;
  color: white;
  margin-bottom: 0px;
  text-align: center;
}
<<<<<<< Updated upstream
/* line 140, ../sass/style.scss */
=======
/* line 141, ../sass/style.scss */
>>>>>>> Stashed changes
.speaker-info p.speaker-short-bio {
  font-family: "SourceSansPro";
  font-size: 18px;
  color: white;
  text-align: center;
}
/* line 147, ../sass/style.scss */
.speaker-info p.speaker-bio {
  font-family: "SourceSansPro";
  font-size: 16px;
}
