/*******************************************************************************
 * _base.scss

 * Base styles define the default look for HTML and common Drupal elements.
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common Drupal elements such as form
 * items, collapsible fieldsets and messages should be included in this partial.
 *
 * The styleguide module (http://drupal.org/project/styleguide) gives you a good
 * overview of Drupals common elements for styling. By setting a solid baseline
 * before adding any more specific customisations you ensure that as any new
 * features are added they will be correctly styled without any extra work.
 ******************************************************************************/
/* Chinese Rocks */
@font-face {
  font-family: 'chinese rocks';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/chinese_rocks/chinese_rocks.woff");
  src: url("../fonts/chinese_rocks/chinese_rocks.ttf") format("truetype"), url("../fonts/chinese_rocks/chinese_rocks.svg") format("svg");
}

/* line 8, ../sass/style.scss */
.navbar-inverse {
  background-color: black;
}

/* line 12, ../sass/style.scss */
ul.navbar-nav {
  float: right;
  margin-right: 398px;
}

/* line 17, ../sass/style.scss */
.navbar-inverse .navbar-nav > .active > a {
  color: #afafaf;
}

/* line 21, ../sass/style.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

/* line 25, ../sass/style.scss */
.register-container {
  background-color: blue;
}

/* line 29, ../sass/style.scss */
.above-the-fold {
  height: 855px;
  background-color: #1d2734;
}
/* line 32, ../sass/style.scss */
.above-the-fold .col-md-4 {
  padding: 0px;
}
/* line 34, ../sass/style.scss */
.above-the-fold .col-md-4 .logo-container {
  margin-top: 106px;
}
/* line 38, ../sass/style.scss */
.above-the-fold .col-md-5 {
  padding: 0px;
}
/* line 40, ../sass/style.scss */
.above-the-fold .col-md-5 .drupalcamp-title {
  margin-top: 145px;
  line-height: 90px;
}
/* line 44, ../sass/style.scss */
.above-the-fold .col-md-5 span {
  font-size: 100px;
  font-family: "chinese rocks";
}
/* line 48, ../sass/style.scss */
.above-the-fold .col-md-5 span.cebu {
  font-size: 263px;
  line-height: 162px;
}
/* line 53, ../sass/style.scss */
.above-the-fold .col-md-3 {
  padding: 0px;
  background: url("../images/underscore-img.png");
  background-repeat: repeat-x;
  height: 383px;
  margin-top: 151px;
}
/* line 59, ../sass/style.scss */
.above-the-fold .col-md-3 .venue-container {
  margin-top: 24px;
}
/* line 61, ../sass/style.scss */
.above-the-fold .col-md-3 .venue-container span {
  font-family: "chinese rocks";
}
/* line 64, ../sass/style.scss */
.above-the-fold .col-md-3 .venue-container span.date {
  font-size: 38px;
}
/* line 67, ../sass/style.scss */
.above-the-fold .col-md-3 .venue-container span.uni {
  font-size: 55px;
  line-height: 50px;
}
/* line 71, ../sass/style.scss */
.above-the-fold .col-md-3 .venue-container span.uni-name {
  font-size: 66px;
  line-height: 63px;
}
/* line 75, ../sass/style.scss */
.above-the-fold .col-md-3 .venue-container span.cebucity {
  font-size: 80px;
  line-height: 67px;
}

/* line 84, ../sass/style.scss */
.drupalcamp-description h6 {
  color: #e3e3e3;
  font-family: "SourceSansPro";
  font-size: 20px;
  text-align: center;
}

/* line 92, ../sass/style.scss */
ul.menu {
  margin-top: 94px;
  text-align: center;
}
/* line 95, ../sass/style.scss */
ul.menu li {
  display: inline;
}
/* line 97, ../sass/style.scss */
ul.menu li a {
  color: white;
  text-decoration: none;
  font-family: "chinese rocks";
  font-size: 24px;
  padding: 25px;
}
/* line 104, ../sass/style.scss */
ul.menu li .register {
  background-color: #ca1e1e;
}

/* line 110, ../sass/style.scss */
.camp-speakers {
  background-color: #f1c419;
}
/* line 112, ../sass/style.scss */
.camp-speakers h3.speaker-title {
  font-family: "chinese rocks";
  font-size: 72px;
  text-align: center;
  color: white;
  margin-top: 90px;
}
/* line 119, ../sass/style.scss */
.camp-speakers h6.speaker-description {
  font-family: "SourceSansPro";
  font-size: 22px;
  text-align: center;
}
/* line 124, ../sass/style.scss */
.camp-speakers p.speaker-announcement {
  font-family: "SourceSansPro";
  font-size: 24px;
  text-align: center;
}

/* line 132, ../sass/style.scss */
.speaker-info img {
  text-align: center;
}
/* line 135, ../sass/style.scss */
.speaker-info p.speaker-name {
  font-family: "SourceSansPro";
  font-size: 24px;
  color: white;
  margin-bottom: 0px;
  text-align: center;
}
/* line 142, ../sass/style.scss */
.speaker-info p.speaker-short-bio {
  font-family: "SourceSansPro";
  font-size: 18px;
  color: white;
  text-align: center;
}
/* line 148, ../sass/style.scss */
.speaker-info p.speaker-bio {
  font-family: "SourceSansPro";
  font-size: 16px;
}
/* line 152, ../sass/style.scss */
.speaker-info .img-speaker {
  text-align: center;
}

/* line 157, ../sass/style.scss */
.camp-sessions {
  background-color: #0076b0;
}
/* line 159, ../sass/style.scss */
.camp-sessions h3 {
  font-family: "chinese rocks";
  font-size: 72px;
  text-align: center;
  color: white;
}
/* line 165, ../sass/style.scss */
.camp-sessions h6 {
  font-family: "SourceSansPro";
  font-size: 22px;
  color: white;
  text-align: center;
}
/* line 171, ../sass/style.scss */
.camp-sessions p {
  font-family: "SourceSansPro";
  font-size: 24px;
  color: white;
  text-align: center;
}

/* line 180, ../sass/style.scss */
.nav-tabs {
  border-bottom: 0px;
}
/* line 182, ../sass/style.scss */
.nav-tabs ul#camp_session_list {
  margin-top: 50px;
}
/* line 184, ../sass/style.scss */
.nav-tabs ul#camp_session_list li.active {
  margin-left: 293px;
  background: url("../images/box-day1.png") no-repeat;
  height: 84px;
  width: 248px;
}
/* line 190, ../sass/style.scss */
.nav-tabs ul#camp_session_list li a.day-one {
  color: #f1c419;
  font-family: "chinese rocks";
  font-size: 60px;
  border: 0px;
  position: absolute;
  background-color: transparent;
  padding-left: 12px;
  padding-top: 0px;
  padding-left: 66%;
  height: 100%;
}
/* line 201, ../sass/style.scss */
.nav-tabs ul#camp_session_list li a.day-one .test {
  width: 63%;
  height: 100%;
}
/* line 204, ../sass/style.scss */
.nav-tabs ul#camp_session_list li a.day-one .test span.month {
  font-size: 28px;
  position: absolute;
  width: 50%;
  padding-top: 10px;
}
/* line 210, ../sass/style.scss */
.nav-tabs ul#camp_session_list li a.day-one .test span.day {
  font-size: 14px;
  position: absolute;
  margin-top: -43px;
}

/* line 223, ../sass/style.scss */
.table tbody tr .time {
  width: 15%;
  color: #f1c419;
  font-family: "SourceSansPro";
  font-size: 22px;
}
/* line 229, ../sass/style.scss */
.table tbody tr td {
  border-top: 0px;
}
/* line 232, ../sass/style.scss */
.table tbody tr p {
  text-align: left;
}
/* line 235, ../sass/style.scss */
.table tbody tr h4.activity {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "SourceSansPro";
  font-style: italic;
  font-size: 29px;
  color: white;
}
/* line 243, ../sass/style.scss */
.table tbody tr p.place {
  font-family: "SourceSansPro";
  font-size: 15px;
  color: #00496d;
}
/* line 248, ../sass/style.scss */
.table tbody tr p.speaker {
  font-family: "SourceSansPro";
  font-size: 15px;
  color: #fff;
  margin-bottom: 0px;
}
/* line 253, ../sass/style.scss */
.table tbody tr p.speaker span.category {
  font-family: "SourceSansPro";
  font-size: 15px;
  color: #f1c419;
}
