/*******************************************************************************
 * _footer.scss
 ******************************************************************************/

.camp-footer {
  background: #333;
  .col-md-12 {
    margin: 50px 0 30px;
    color: #858585;
    text-align: center;
  }
}