/*******************************************************************************
 * _sponsors.scss
 ******************************************************************************/

.camp-sponsors::before {
  background: url("../images/sponsor-wave.png") no-repeat 20px 20px;
  content: "";
}
.camp-sponsors {
  &::before {
    background: url("../images/sponsor-wave.png") no-repeat 0 20px;
    content: "";
    display: block;
    height: 70px;
    margin-top: -85px;
  }
  background: #333;
  padding-top: 25px;
  margin-top: 50px;
  .col-md-12 {
    h6 {
      color: #f1c419;
    }
  }
  .row {
    p {
      color: #858585;
      font-size: 36px;
      text-align: center;
      margin: 50px 0 20px;
      font-family: $font-logo;
    }
    &.gold-sponsors {
      img {
        margin: auto;
        display: block;
        max-width: 305px;
      }
    }
    &.silver-sponsors {
      .col-md-3 {
        img {
          max-width: 210px;
        }
      }
    }
    &.bronze-sponsors {
      .col-md-2 {
        img {
          max-width: 140px;
        }
      }
    }
  }
}