/*******************************************************************************
 * _venue.scss
 ******************************************************************************/

.camp-venue {
  &::before {
    background: url("../images/blue-wave.png") no-repeat 0 20px;
    content: "";
    display: block;
    height: 70px;
    margin-bottom: -57px;
    margin-top: -10px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    z-index: 9999;
    position: relative;
  }
  margin-bottom: -45px;
  z-index: -9999;
  position: relative;
  .container {
    margin: 0px !important;
    padding: 0px !important;
    width: auto;
    .row {
      margin: 0px;
      .col-md-12 {
        padding: 0px;
        .venue-info {
          background: url("../images/venue-info-bg.png") no-repeat;
          width: 485px;
          position: absolute;
          top: 100px;
          left: 80px;
          height: 205px;
        }
        .venue-address {
          font-family: 'SourceSansPro';
          margin: 10px 40px;
          color: #4F4F4F;
          font-size: 20px;
          font-style: italic;
          font-weight: bold;
        }
        h3 {
          margin-top: 20px;
          color: #0076B0;
        }
      }
    }
  }
}