/*******************************************************************************
 * _sponsors.scss
 ******************************************************************************/

.camp-sponsors {
  &::before {
    background: url("../images/black-wave.png") no-repeat 0 20px;
    content: "";
    display: block;
    height: 70px;
    margin-top: -85px;
  }
  background: #333;
  padding-top: 25px;
  margin-top: 50px;
  .col-md-12 {
    margin-bottom: 50px;
    h6 {
      color: #f1c419;
      font-size: 22px;
      text-align: center;
      a {
        color: #fff;
      }
      a:hover {
        color: #f1c419;
        text-decoration: underline;
      }
    }
  }
  .row {
    p {
      color: #858585;
      font-size: 48px;
      text-align: center;
      margin: 50px 0 20px;
      font-family: $font-logo;
    }
    @mixin sponsor_img {
      margin: 15px auto;
      display: block;
    }
    &.gold-sponsors {
      img {
        @include sponsor_img;
        max-width: 305px;
      }
    }
    &.silver-sponsors {
      .col-md-3 {
        img {
          @include sponsor_img;
          max-width: 210px;
        }
      }
    }
    &.bronze-sponsors {
      .col-md-2 {
        img {
          @include sponsor_img;
          max-width: 140px;
        }
      }
    }
  }
  .food-sponsors {
    text-align: center;
    img{
      max-width: 55%;
    }
  }
  .coffee-sponsors {
    text-align: center;
    img {
      max-width: 55%;
    }
  }
  .saturday-sponsors {
    text-align: center;
    margin-bottom: 75px;
    img {
      max-width: 55%;
    }
  }
}